@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LXGWWenKai';
  src: url('/asset/LXGWWenKai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
